<html>

<body>
<h2>Hola <strong>{{name}}</strong></h2>

<h3>Tu Orden #<strong>{{orden}}</strong> ya esta en Ruta</h3>

<h3>La persona que lleva tu pedido es: {{Repartidor1}} {{Repartidor2}}, Identificado con: {{tydoc}} {{cedulaId}}</h3>

<h4>En tu perfil podrás encontrar con detalle tu orden # {{orden}} y si deseas, puedes descargarla en formato PDF</h4>
<p>Para la entrega de los productos, por regulaciones, eventualmente es posible que tengamos que utilizar bolsas de plástico, 
    te aseguramos que esto no nos hace felices, por lo pronto lo haremos en bolsas biodegradables de fibra de caña</p>

<h4>Recuerda que nuestros productores generalmente traen los artículos a Bogotá el día Jueves, por esta razón, 
las ordenes que se hacen hasta el miércoles a medio día, entran en proceso para entrega ese jueves o los días siguientes.</h4>
<h4>Tenemos que hacer las ordenes de los productos para que ellos los traigan el jueves.</h4>

<h3>Gracias por realizar tu mercado con nosotros y te estaremos extrañando...</h3>
<br>
<br>

<ul style="list-style:none;">
    <h1 style="color:#531D91; font-size:18px; font-weight:bold;">Equipo ZanaHora</h1>
    <li>Cel: (+57) 316 505 9937 </li>
    <li><a style="color:#00AEEF;" href="mailto:info@zanahora.co" target="_blank">info@zanahora.co</a></li>
    <li><a style="color:#00AEEF;" href="mailto:pedidos.mizanahora@gmail.com" target="_blank">pedidos.mizanahora@gmail.com</a></li>
    <li><a style="color:#00AEEF;" href="https://www.zanahora.co" target="_blank">www.Zanahora.co</a></li>
</ul>
</body>
</html>
