{% extends 'zanamain/main.html' %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="row">

        <div class="col-md-10 mx-auto">
            <div class="container-fluid">
                <h1 class="col-md-12 pt-4 mx-auto c">Agroecología</h1>
                <div class="text-justify">
                    <h2>Sobre la Agroecología</h2>
                    <p>Es el estudio de procesos ecológicos aplicados a los sistemas de producción agrícola.</p>
                    Aquí nos referimos a productos libres de productos químicos y/o sintéticos a cualquier nivel, 
                    sea durante el cultivo, el procesado o en otro momento de su manipulación.
                    <hr>

                    <h3>Los Productos y cómo se Cultivan</h3>
                    <p>los productos que encontraras aquí siguen las prácticas Agroecologícas, 
                    algunos de nuestros productores están en su proceso de transición y nosotros los estamos ayudando promoviendo sus 
                    productos e interconectandolos con otros productores con mayor experiencia. 
                    Por esta razón, y para mantener la confianza que tu depositas en nosotros, queremos que sepas, a través de iconos, 
                    en qué etapa se encuentra cada proyecto y que características tiene cada producto. 
                    En algunos casos las hemos verificado nosotros mismos con visitas a los lugares donde se producen estos alimentos y en otros casos, 
                    los productores ya tienen una marca, un nombre y posiblemente tu ya los conozcas.</p>

                    <p>Los precios que encontrarán aquí pueden ser mayores que los precios que encontrarán en otros mercados, 
                    la razón es un poco mas compleja de lo que parece y creemos importante hacerte participe de esta información.</p>

                    <p>Para mantener una agricultura limpia, es casi imposible hacerlo en forma de monocultivo o extensas áreas cultivadas con un solo producto, 
                    por esto las parcelas de los cultivos son pequeñas.</p>

                    <p>Para no debilitar la tierra, estos cultivos deben rotarse después de cada cosecha, es decir, 
                    después de la cosecha en esa parcela hay que comenzar a sembrar otro producto de diferente especie, 
                    esto mejora las condiciones de la parcela y los productos son mas nutritivos.</p>

                    <p>Los fertilizantes que se utilizan son preparados por ellos mismos con los residuos que quedan después de cada cosecha y 
                    otros materiales vegetales que resultan del cuidado del cultivo, este se reúne en un sitio y 
                    se controla el proceso de descomposición de estos materiales, revolcándolo de vez en cuando para acelerar este proceso, 
                    como resultado se obtiene una tierra rica en nutrientes y micro organismos benéficos para los procesos agrícolas, 
                    a esto se le llama "Compostaje", pero requiere de esfuerzo.</p>

                    <p>Otro punto no menos importante es que a pesar que la parcela es pequeña, los insectos y algunas plagas pueden llegar, 
                    por eso los productores tienen que preparar ellos mismos los productos para el control de estas plagas, 
                    estos productos son hechos con otros productos naturales como el ajo, el ají y la cebolla, 
                    esto hace que las plagas se mantengan alejadas del la parcela pero no los mata, y esto no solo es una gran ayuda al 
                    ecosistema sino al respeto por la vida... a cualquier nivel.</p>

                    <p>Te podrás dar cuenta que la producción no es masiva y por esto, los ingresos de estos productores son reducidos, 
                    para que ellos puedan sobrevivir y continuar trabajando de esta manera, estos productos se ofrecen a precios un poco mas altos, 
                    así su economía familiar puede mantenerse.</p>

                    <p>Debido a todo esto, nosotros estamos orgullosos de presentarte los productos que ofrecemos y asegurarte que se siguen 
                    prácticas Agroecologícas basada en la confianza que tenemos en nuestros productores, 
                    ya que ellos nos han mostrado tener esa conciencia del cuidado por nuestra Madre Tierra algunas veces mayor que la de nosotros mismos y 
                    generosamente nos han mostrado y explicado sus procesos de producción.</p>

                    <p>Eventualmente, estamos pensando en organizar visitas a estos productores, y para entonces, si estas interesad@, 
                    nos encantaría contar con tu presencia en estas aventuras, así tu mism@ podrás percatarte de que es lo que estamos ofreciendo, 
                    que no se trata solo de productos limpios y precios justos, sino todo un universo de posibilidades.</p>
                    <hr>
                </div>
            </div>

        </div>
        <div class="col-md-2 mt-4">
            {% include 'zanamain/partials/side_menu.html' %}
        </div>
    </div>
</div>

{% endblock content %}
