{% extends 'zanamain/main.html' %}
{% block content %}

<div class="col-md-12 mt-4 mx-auto">

<!-- Ordenes -->
    <div class="col-md-10 mx-auto">
        <h1 class="card-title titelall c">Ordenes Deep Search</h1>

        <a id="En Aprobación"></a>
        <h5 class="card-title mt-4 subtitelall">Ordenes En Cookie y En Espera de Confirmar pago</h5>
        <div class="card card-body">
            <table class="table table-sm">
                {% include 'mainAdmin/dashboard/dashboardcomp1.html' %}
                {% for order in payment_orders %}
                    {% include 'mainAdmin/dashboard/dashboardcomp2.html' %}
                {% endfor %}
            </table>
        </div>

    </div>

</div>

{% endblock content %}
