
    <tr>
        <td>{{objs.id}}</td>
        <td>{{objs.transaction_id}}</td>
        <td>{{objs.customer}}</td>
        <td>{{objs.customer.phoneNum}}</td>
        <td>{{objs.status}}</td>
        <td>{{objs.date_modify}}</td>
        <td><strong>${{objs.hist_order_total}}</strong></td>
        <td></td>
        <td><a href="{% url 'update_order' objs.id %}" class="btn btn-info btn-sm">Modificar</a></td>
        <td><a href="{% url 'update_order_stat' objs.id %}" class="btn btn-warning btn-sm">Status</td>
        <td><a href="{% url 'oc_reparto_PDF' objs.id %}" class="btn btn-dark btn-sm">Ver PDF</td>
        <td><a href="{% url 'oc_reparto_DownloadPDF' objs.id %}" class="btn btn-dark btn-sm">Baja PDF</td>
    </tr>
