
<h3 class="c">Opciones de Pago</h3>
<h6 class="c">Por efectos de la pandemia, no realizamos transacciones con dinero en efectivo.</h6>
<h6 class="c">La entrega de los productos, por regulaciones, eventualmente es posible que tengamos que utilizar bolsas de plástico, 
    te aseguramos que esto no nos hace felices, por lo pronto lo haremos en bolsas biodegradables de fibra de caña</h6>
<div class="row mt-4">
    <div class="col-md-6 p-2 c ">
        <h4> Transferencia Digital</h4>
        <div class="col-md-12 mt-2 c">
            <strong>Daviplata: </strong>tel. 319 403 6153
        </div>
        <div class="col-md-12 mt-1 c">
            <strong>Nequi: </strong>tel. 316 505 9937
        </div>
        <div class="col-md-12 mt-2 c">
            <h6>Transferencias Bancaria a Nequi</6>
            <a id="make-payment-nequi" class="btn btn-success btn-small mt-2" href="https://recarga.nequi.com.co/bdigitalpsl/#!/" target="_blank">Recarga Nequi (Terminar la Compra)</a>
            <h6>Recuerda nuestro tel: 3165059937 y el total a pagar {{order.get_cart_total}}</h6>
            <h6>El sistema de seguridad de Nequi no permite copiar y pegar el numero de teléfono</h6>
        </div>
    </div>
    <div class="col-md-6 p-2 c ">
        <h4>Crypto Monedas</h4>
        <strong>Bitcoin</strong>
        12aEEAmM56rtmhjqXic1p1MKRXcjDMxD7W
        <strong>Litcoin</strong>
        LTGxSLWjv341DQ5TAvn8V7ER6egbFmztvY
        <strong>Ethereum</strong>
        0x9a03cb1d29f3111ffc840edf40d7067bf64e9a54
    </div>
</div>
<hr>
<div class="col-md-12 c">
    <h3><strong>Importante</strong></h3>
    <label>Una vez que realices tu pago, Porfis, Informanos para agilizar tu pedido.</label>

    <label>En tu Perfil, En "Ordenes", haz clic en la opción "Ya Pagué", completa la información de tu pago y Listo.</label>
    <label>Llamada telefónica al 316 505 9937 o Whatsapp</label>
    <label>Email a pedidos.mizanahora@gmail.com</label>
    <br>
    <label>Si deseas realizar tu pago después</label>
    <label>Un correo te sera enviado con las mismas instrucciones.</label>
    <label>Revisa tu bandeja de spam si ves que tu correo no llego...</label>
</div>
