{% extends 'zanamain/main.html' %}
{% block content %}

<div class="container-fluid tienback">
    <div class="container col-lg-8 mx-auto">

        <div class="col-md-10 m-5 mx-auto c ">
            <h1>Correo Electrónico Enviado!</h1>
        </div>

        <div class="col-md-10 m-5 mx-auto c ">
            <p>Te hemos enviado un Correo electrónico a Tu cuenta con instrucciones para el cambio de Tu contraseña.</p>
            <p>Este correo debe llegarte pronto</p>
            <p>Este correo tiene vigencia de 24 horas</p>
            <br>
            <p>Si no encuentras el correo en la bandeja de entrada, puede ser que: </p>
        </div>

        <div class="col-md-7 m-5 mx-auto ">
            <ul>
                <li>El correo este en la bandeja se correos no deseados</li>
                <li>El correo que ingresaste no es con el que Te registraste inicialmente</li>
                <li>El correo que ingresaste iba con algún error</li>
            </ul>
        </div>

    </div>
</div>

{% endblock content %}
