{% extends 'zanamain/main.html' %}
{% block content %}

<div class="container-fluid tienback">
    <div class="container col-lg-8 mx-auto">

        <div class="col-md-10 m-5 mx-auto c ">
            <h1>Ingresa Tu Contraseña</h1>
        </div>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="col-lg-10 mx-auto">
                <div class="form-row mx-auto mt-5 c">
                    <div class="col-md-6">
                        <label>Contraseña <c>*</c></label>
                        <input type="password" name="new_password1" required="" id="id_new_password2">
                    </div>
                    <div class="col-md-6">
                        <label>Confirmar Contraseña <c>*</c></label>
                        <input type="password" name="new_password2" required="" id="id_new_password2">
                    </div>
                </div>
                <div class="col-md-10 mx-auto mt-1 mb-3 c">
                    <h6>Tu Contraseña No puede:</h6>
                    <h6>Ser similar a la información ingresada, Ser menor a 8 caracteres, Ser solo números, Ser muy común.</h6>
                </div>
            </div>

            <div class="container col-lg-6 mt-4 mb-4 mx-auto ">
                <input class="btn btn-success btn-block" type="submit" name="CONFIRMAR">
            </div>
        </form>

    </div>
</div>

{% endblock content %}
