{% extends 'zanamain/main.html' %}
{% block content %}

<div class="container-fluid tienback">
    <div class="container col-lg-8 mx-auto">

        {% if messages %}
            <div class="col-md-12 m-5 mx-auto c ">
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>
        {% endif %}

        {% if form.errors %}
            <div class="col-md-8 c mx-auto">
                <h5>{{errors}}</h5>
            </div>
        {% endif %}

        <div class="col-md-10 m-5 mx-auto c ">
            <h1>Olvidaste Tu contraseña?</h1>
        </div>

        <div class="col-md-10 m-5 mx-auto c ">
            <p>Completa Tu Correo electrónicoy Te enviaremos un Correo con las instrucciones para el cambio.</p>
        </div>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="col-md-5 mt-5 mb-3 mx-auto c">
                <label>Correo Electrónico <c>*</c></label>
                {{form.email}}
            </div>

            <div class="container col-lg-6 mt-4 mb-4 mx-auto ">
                <input class="btn btn-success btn-block" type="submit" value="ENVIAR">
            </div>
        </form>

    </div>
</div>

{% endblock content %}
