{% load static %}

<footer>
    <div class="section footer">
        <div class="footer-bottom pd-top-bottom">
            <div class="container full-mobile">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mg-bottom-30">
                        <div class="item contact-us">
                            <div class="item-content">
                                <div class="sub-title">
                                    <h4 class="title-black mt-5">Contáctanos</h4>
                                </div>
                            </div>
                            <div class="content">
                                <p>Lunes a Viernes de 9 a.m. a 5 p.m</p>
                                <ul>
                                    <li class="d-flex bg-icon">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                        <span>Bogotá, Colombia</span>
                                    </li>
                                    <li class="d-flex bg-icon">
                                        <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                                        <span>(+57) 319 403 6153</span>
                                    </li>
                                    <li class="d-flex bg-icon">
                                        <span><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
                                        <span>info.zanahora@gmail.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 mg-bottom-30 ">
                        <div class="sub-title  mt-5">
                            <h4 class="title-black">Síguenos</h4>
                        </div>
                        <ul class="list-group ">
                            <li class="d-flex">
                                <a class="list" href="https://web.facebook.com/mizanahora/?__tn__=%2Cd%3C-R&eid=ARBYRD6eSO9hRIhZ1G1CLKzVGPZVfkYQRkpulsoN_oxPOFukGfMOc4iXI47Jma-GHcQhm6hqbfmUmn1S" target="_blank" title="ZanaHora Facebook">
                                    Facebook
                                </a>
                            </li>
                            <li class="d-flex">
                                <a class="list" href="https://www.instagram.com/mizanahora/" target="_blank" title="ZanaHora Instagram">
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 mg-bottom-30">
                        <div class="sub-title  mt-5">
                            <h4 class="title-black">Información</h4>
                        </div>
                        <ul class="list-group ">
                            <li class="list-group "><a class="list" href="">Nosotros</a></li>
                            <li class="list-group "><a class="list" href="/info_conditions">Condiciones</a></li>
                            <li class="list-group "><a class="list" href="/info_privacy">Privacidad</a></li>
                        </ul>
                    </div>

                    <div class="col-4">
                        <div class="col-11 mx-auto c">
                            <a href="#" >
                                <img src="{% static 'img/logos/zvertical500.png' %}" class="imgfoot" >
                            </a>
                        </div>
                        <div class="col-11 mx-auto c">
                            <p>ZanaHora es una plataforma digital para conectar a todas las personas interesadas en productos naturales y Agro-ecológicos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mx-auto">
                    <div class="row ">
                        <div class="mx-auto">
                            <a title="Facebook" href="https://web.facebook.com/mizanahora/?__tn__=%2Cd%3C-R&eid=ARBYRD6eSO9hRIhZ1G1CLKzVGPZVfkYQRkpulsoN_oxPOFukGfMOc4iXI47Jma-GHcQhm6hqbfmUmn1S" target="_blank">
                                <img class="netimgfoot" src="{% static 'img/icons/redes/facebook.png' %}"/>
                            </a>
                        </div>
                        <div class="mx-auto">
                            <a title="Instagram" href="https://www.instagram.com/mizanahora/" target='_blank'>
                                <img class="netimgfoot" src="{% static 'img/icons/redes/instagram.png' %}">
                            </a>
                        </div>
                        <div class="mx-auto">
                            <a href="https://api.whatsapp.com/send?phone=573132271741" title="to whatsapp" ></a>
                            <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=573165059937" target="_blank">
                                <img class="netimgfoot" src="{% static 'img/icons/redes/whatsapp.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center">
            <div class="container">
                <div class="content">
                    Copyright © 2019
                    <span>ZANAHORA</span> All Rights Reserved. Design by Masutier
                </div>
            </div>
        </div>
    </div>
</footer>