{% extends 'zanamain/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="col-md-12 mx-auto">
    <div class="row">
        <div class="col-md-2 ">
            <div class="card card-body">
                <a class="btn btn-success" href="{% url 'create_project'%}">Crear Proyecto</a>
            </div>
            <hr class="hr">
            {% include 'products/info/info_natural.html' %}
            <a class="btn btn-info btn-sm btn-block" href="{% url 'info_icons' %}">Más Información</a>
            <hr class="hr">
            {% include 'users/info/info_estilo.html' %}
            <a class="btn btn-info btn-sm btn-block" href="{% url 'info_icons' %}">Más Información</a>
        </div>
        <br>
        <div class="col-md-10 mx-auto">
            <h1 class="card-title titelall c">Proyectos</h1>
            {% include 'mainAdmin/dashboard/project_resum.html' %}

            <div class="card card-body">
                <h1 class="col-md-8 mx-auto c">Lista de Proyectos</h1>
            </div>

            <div class="col-md-12 mx-auto">
                <div class="card card-body">

                    <table class="table table-sm">
                        {% include 'mainAdmin/dashboard/dashboardcomp5.html' %}
                        {% for project in projects %}
                            {% include 'mainAdmin/dashboard/dashboardcomp6.html' %}
                        {% endfor %}
                    </table>

                </div>
            </div>
            <br>
        </div>   
    </div>
</div>

{% endblock content %}